.accounts-form {
    width: 100%;
    height: 100%;
    padding: 30px;
}

.accounts-form input {
    padding: 15px 20px;
    font-size: 17px;
    border: none;
    border-radius: 20px;
    width: 100%;
    margin: 10px 0;
}

.accounts-form button {
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 17px;
    border: none;
    background-color: hsl(6, 86%, 86%);
    margin: 20px 5px;
}

.accounts-form p {
    font-size: 17px;
    margin-top: 20px;
}

.accounts-form h2 {
    margin-bottom: 20px;
}

.accounts-form h3 {
    margin-top: 50px;
}

.contentDiv > h2 {
    text-align: center;
}

input, button {
    font-family: 'Outfit', sans-serif;
}

input:focus {
    outline: none;
}

input {
    background: #dfdfec;
}