.profile-details {
    width: max-content;
    margin: 50px auto;
    background-color: hsl(250, 100%, 97%);
    padding: 30px;
    border-radius: 25px;
    text-align: center;

}

.profile-details .profile-pic {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    padding: 40px 50px;
}

.profile-details .full-name {
    font-size: 27px;
    font-weight: 500;
}

.profile-details .username {
    font-size: 21px;
    color: rgb(97, 97, 97);
    font-weight: 400;
}

.profile-details .joined-date {
    color:rgb(124, 124, 124);
    margin-top: 30px;
}

.posts-title {
    padding: 10px 20px;
    background:rgb(240, 240, 241);

}